<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel = "stylesheet" href ="style2.css">
</head>
<body>
    <div class="header">

    </div class="main">

    <h1>About Us</h1>
    <p>
        It is a new startup. It will be established in 4 May in 2021. We are providing the different types of services. We are deals in different type of icecreams like Strawberry, Softy, Vanlia , Mango etc. Our headquarters in Agra on N.H.2 highway. 
        The C.E.O of this organization is Mr. Er. Deepak Jain. He is completed his engineering in mechanical branch from Teerthanker Mahaveer University Moradabad. 
    </p>
</body>
</html>